aiohttp
hachoir
numpy
Pillow
requests
tgcrypto        # ✅ Correct name
olefile
motor
pytz
pymongo
dnspython
psutil
filetype
tldextract
ffmpeg-python
aiofiles
pyromod
yt-dlp
pytube
flask
gunicorn==20.1.0
